<div class="talksCont">
  <div class="subheading">Talks</div>
  <p>James is available for providing talks at various conferences in Europe, Asia and the Americas. The following is a list of talks I've given on various topics.</p>
  <ul class="talksList standardList"> 
  </ul>
</div>
<div class="talksDetail">
  <div class="talksPost">
    <div class="talksNav" id="back">↼</div>
    <div class="talksMeta">
      <div class="talksField">
        <div id="date" class="subheading">Date:</div>
        <div id="date" class="value subheading"></div>
      </div>
      <br />
      <div class="talksField">
        <div id="date" class="subheading">Tags:</div>
        <div id="tags" class="value subheading"></div>
      </div>
      <br />
      <div class="talksNav" id="prev">↼</div>
      <div class="talksNav" id="next">⇀</div>
    </div>
    <div id="title" class="value title"></div>
    <div id="subtitle" class="value subtitle"></div>
    <p id="body" class="value"></div>
  </div>
</div>
