<div class="pageTop">
  <div class="header">
    <div class="logo heading">
      Cold Crescent Interactive
      <img src='/static/img/derp4.png'/>
    </div>
    <ul id="nav" class="subheading">
      <li><a href="/#!/core">Core</a></li>
      <li><a href="/#!/labs">Labs</a></li>
      <li><a href="/#!/blog">Blog</a></li>
      <li><a href="/#!/prod">Products</a></li>
      <li><a href="/#!/prod">Talks</a></li>
    </ul>
  </div>
</div>
<div class="page">
</div>
<div class="footer">
  <div class="footerCol">
    <div class="subheading">Collaborate</div>
    <p>If you've you'd like to start your life's work on something special, drop me a line. I'm all ears. No recruiters, <a href='http://www.codinghorror.com/blog/2012/03/how-to-hire-a-programmer.html'>please.</a> I've got a list of offers from Meetups and Twitter that is a mile long. I want to do real, earth-shaking work.</p>
  </div>
  <div class="footerCol">
    <div class="subheading">Vanity</div>
    <p>Partly useful, pure opinion, these are some thoughts I value.</p>
    <ul class="standardList">
      <li><p><a href="http://norvig.com/">⇀&nbsp;&nbsp;&nbsp;Peter Norvig</a></p></li>
      <li><p><a href="http://www.codinghorror.com/blog">⇀&nbsp;&nbsp;&nbsp;Jeff Atwood</a></p></li>
      <li><p><a href="https://plus.google.com/+AlexMartelli">⇀&nbsp;&nbsp;&nbsp;Alex Martelli</a></p></li>
      <li><p><a href="https://plus.google.com/115212051037621986145">⇀&nbsp;&nbsp;&nbsp;Guido Van Rossum</a></p></li>
      <li><p><a href="http://blog.algore.com/">⇀&nbsp;&nbsp;&nbsp;Al Gore</a></p></li>
      <li><p><a href="https://plus.google.com/u/0/110981030061712822816">⇀&nbsp;&nbsp;&nbsp;Steve Yegge</a></p></li>
      <li><p><a href="https://plus.google.com/+LinusTorvalds">⇀&nbsp;&nbsp;&nbsp;Linus Torvalds</a></p></li>
      <li><p><a href="http://www.dnalounge.com/backstage/log/">⇀&nbsp;&nbsp;&nbsp;Jamie Zawinski</a></p></li>
  </div>
  <div class="footerCol">
    <div class="subheading">About</div>
    <p>Cold Crescent Interactive is the portfolio of James Rhys. All work herein is released under the <a href="http://en.wikipedia.org/wiki/MIT_License">MIT Standard License</a>, unless otherwise stated.</p>
  </div>
  <div class="footerCopy">
    <p>Copyright 2012, James Rhys.</p>
  </div>
</div>
