{% extends "site_base.html" %}
{% block title %}
Labs list
{% endblock title %}
{% block body_app %}
    {% if experiments_list %}
        <h1> Experiment List</h1>
        {% for experiment in experiments_list %}
            <h3><a href="{{experiment.id}}">Experiment: {{experiment.title}}</a></h3>
            {{experiment.tags}}<br />
            {{experiment.description}}<br />
            {{experiment.published}}<br />
            {{experiment.last_modified}}<br />
        {% endfor %} 
    {% else %}
        <h1>No experiments :(</h1>
    {% endif %}
{% endblock body_app %}
