<div class="TwoPanelNavCont">
  <div class="NavPanel">
    <ul class="subheading coreNav">
      <li><a id="introduction" class="active coreNav textTransform">Introduction</a></li>
      <li><a id="methodologies" class="coreNav textTransform">Methodologies</a></li>
      <li><a id="technologies" class="coreNav textTransform">Technologies</a></li>
      <li><a id="engagements" class="coreNav textTransform">Engagements</a></li>
      <li><a id="contact" class="coreNav textTransform">Contact</a></li>
    </ul>
  </div>
  <div class="DataPanel" >
    <!--
    <div class="floatOutPanel">
       <div class="parentRel">
        <div class="subtitle">In order to write correct, secure, test-driven code in a timely manner, we rely on functional abstractions, try to limit side-effects and using paper proofing as much as possible.
        </div>
      </div>
    </div>
    -->
    <div class="DataPanelSection" id="introduction">
      <div class="title">Introduction</div>
      <br style="clear:both"/>
      <div class="subtitle pushedOut">
        Cold Crescent Interactive is a collective of Programmer/SysOp/Hackers based in Brooklyn, New York. We love f(n), quick applications that are out to do something new. Working at all points in the technical pipeline, we have played every role from Design to Red Team.
      </div>
    </div>
    <div class="DataPanelSection" id="methodologies">
      <div class="title">Methodologies</div>
      <br style="clear:both"/>
      <div class="subtitle pushedOut">
        <div>F(n)</div>
        <div>Asynchronous Interoperability</div>
        <div>DRY / JIT</div>
        <div>Agile</div>
        <div>Rapid Prototyping</div>
      </div>
    </div>
    <div class="DataPanelSection" id="technologies">
      <div class="title">Technologies</div>
      <br style="clear:both"/>
      <div class="subtitle pushedOut">
        We like FOSS toolsets. We operate a Linux development stack and make use of the following technologies.
      </div>
      <div class="floatingPanelCont">
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Languages</div>
          <ul class="standardList">
            <li>Python</li>
            <li>C/C++</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Scala</li>
            <li>PHP</li>
            <li>ActionScript 3</li>
            <li>Haskell</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Web</div>
          <ul class="standardList">
            <li>Django</li>
            <li>HTML5</li>
            <li>WebGL</li>
            <li>Backbone.js</li>
            <li>jQuery</li>
            <li>CSS3</li>
            <li>Magento</li>
            <li>Symfony 2</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">System Administration</div>
          <ul class="standardList">
            <li>Jenkins</li>
            <li>Nagios</li>
            <li>AWS</li>
            <li>RHEL 5/6</li>
            <li>Debian</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Server-side</div>
          <ul class="standardList">
            <li>Apache</li>
            <li>Nginx</li>
            <li>Gearman</li>
            <li>Memcahed</li>
            <li>Twisted</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">/etc</div>
          <ul class="standardList">
            <li>Disqus</li>
            <li>Social Media</li>
            <li>SEO</li>
            <li>YouTube</li>
            <li>OpenGraph</li>
            <li>Analytics</li>
            <li>AdWords</li>
            <li></li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Testing</div>
          <ul class="standardList">
            <li>GCC</li>
            <li>unittest</li>
            <li>VM Ware</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Development</div>
          <ul class="standardList">
            <li>Vi</li>
            <li>tmux</li>
            <li>GNOME term</li>
            <li>VirtualEnv</li>
            <li>Chrome Canary</li>
            <li>Redmine</li>
            <li>Trello</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Transport</div>
          <ul class="standardList">
            <li>HTTP</li>
            <li>SPDY</li>
            <li>JSON</li>
            <li>WebSockets</li>
          </ul>
        </div>
        <div class="pushedOut p floatingPanel ">
          <div class="bold">Design</div>
          <ul class="standardList">
            <li>GIMP</li>
            <li>Sony Vegas</li>
            <li>Blender</li>
            <li>Audacity</li>
            <li>PyGame</li>
          </ul>
        </div>
      </div>
      <br style="clear:both" />
    </div>
    <div class="DataPanelSection" id="engagements">
      <div class="title">Engagements</div>
      <br style="clear:both"/>
      <div class="subtitle pushedOut">
        Cold Crescent Interactive is available for contracted advisory and product services. Experiences of past products are available in the Products tab. To see if we're a good fit, please contact us through the Contact section.
      </div>
    </div>
    <div class="DataPanelSection" id="contact">
      <div class="title">Contact</div>
      <br style="clear:both"/>
      <div class="subheading">
        <p><a class = "blueTextAnchors" href="https://twitter.com/jamejamebutdiff">⇀&nbsp;&nbsp;&nbsp;Twitter</a></p>        <p><a class = "blueTextAnchors" href="https://github.com/JamesMeldrum">⇀&nbsp;&nbsp;&nbsp;GitHub</a></p>
        <p><a class = "blueTextAnchors" href="mailto:jrm.general@gmail.com">⇀&nbsp;&nbsp;&nbsp;Email</a></p>
      </div>
    </div>
  </div>
</div>
