{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>JS Drawing App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    {% block meta_app %} 
        {% for meta in meta_data %}
            <meta property="{{meta.meta_key}}" content="{{meta.meta_var}}"/>
        {% endfor %}
    {% endblock meta_app %}
   <style>
      html, body {
         width: 100%;
         height: 100%;
      }
   
      #sketch {
         border: 10px solid gray;
         height: 100%;
         position: relative;
      }
   
      #tmp_canvas {
         position: absolute;
         left: 0px; right: 0;
         bottom: 0; top: 0;
         cursor: crosshair;
      }
   </style>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/normalize.css">
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/main.css">
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/libs/bjqs.css">
    <link href="{{STATIC_PREFIX}}css/labs/4/impress.css" rel="stylesheet" />
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
  <!-- Initially populated by views/app.js -->
  <div class="pageParent"></div>
  <div id="sketch">
    <canvas id="paint"></canvas>
  </div>

    <script type="text/javascript">

      "use strict";

      (function() {
         
         var canvas = document.querySelector('#paint');
         var ctx = canvas.getContext('2d');
         
         var sketch = document.querySelector('#sketch');
         var sketch_style = getComputedStyle(sketch);
         canvas.width = parseInt(sketch_style.getPropertyValue('width'));
         canvas.height = parseInt(sketch_style.getPropertyValue('height'));
         
         // Creating a tmp canvas
         var tmp_canvas = document.createElement('canvas');
         var tmp_ctx = tmp_canvas.getContext('2d');
         tmp_canvas.id = 'tmp_canvas';
         tmp_canvas.width = canvas.width;
         tmp_canvas.height = canvas.height;
         
         sketch.appendChild(tmp_canvas);
      
         var mouse = {x: 0, y: 0};
         var last_mouse = {x: 0, y: 0};
         
         // Pencil Points
         var ppts = [];
         
         /* Mouse Capturing Work */
         tmp_canvas.addEventListener('mousemove', function(e) {
            mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
            mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;
         }, false);
         
         
         /* Drawing on Paint App */
         tmp_ctx.lineWidth = 5;
         tmp_ctx.lineJoin = 'round';
         tmp_ctx.lineCap = 'round';
         tmp_ctx.strokeStyle = 'blue';
         tmp_ctx.fillStyle = 'blue';
         
         tmp_canvas.addEventListener('mousedown', function(e) {
            tmp_canvas.addEventListener('mousemove', onPaint, false);
            
            mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
            mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;
            
            ppts.push({x: mouse.x, y: mouse.y});
            
            onPaint();
         }, false);
         
         tmp_canvas.addEventListener('mouseup', function() {
            tmp_canvas.removeEventListener('mousemove', onPaint, false);
            
            // Draw temp buffer to canvas and clear
            ctx.drawImage(tmp_canvas, 0, 0);
            tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
            ppts = [];

         }, false);
         
         var onPaint = function() {
            
            ppts.push({x: mouse.x, y: mouse.y});
            
            // Not enough points for quadratic, use arc interp
            if (ppts.length < 3) {
               var b = ppts[0];
               tmp_ctx.beginPath();
               tmp_ctx.arc(b.x, b.y, tmp_ctx.lineWidth / 2, 0, Math.PI * 2, !0);
               tmp_ctx.fill();
               tmp_ctx.closePath();
               
               return;
            }
            
            // Tmp canvas is always cleared up before drawing.
            tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
            
            tmp_ctx.beginPath();
            tmp_ctx.moveTo(ppts[0].x, ppts[0].y);
            
            for (var i = 1; i < ppts.length - 2; i++) {
               var c = (ppts[i].x + ppts[i + 1].x) / 2;
               var d = (ppts[i].y + ppts[i + 1].y) / 2;
               
               tmp_ctx.quadraticCurveTo(ppts[i].x, ppts[i].y, c, d);
            }
            
            // For the last 2 points
            tmp_ctx.quadraticCurveTo(
               ppts[i].x,
               ppts[i].y,
               ppts[i + 1].x,
               ppts[i + 1].y
            );
            tmp_ctx.stroke();
            
         };
         
      }());

    </script> 

    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-36634018-1']);_gaq.push(['_setDomainName', 'jamesrhys.net']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</body>
</html>
