<div class="prodDetail">
  <div class="prodPost">
    <div class="prodNav" id="back">↼</div>
    <div id="title" class="value title">Big Title This is Signification</div>
    <div class="prodSlideCont">
      <ul class="bjqs">
        <li><img src="http://basic-slider.com/img/banner01.jpg"/></li>
        <li><img src="http://basic-slider.com/img/banner02.jpg"/></li>
      </ul>
    </div>
    <div class="subtitleCont">
      <div class="subtitle" id="technologies">
        Technologies:
          <ul class="standardList">
            <li class='p'>⇀&nbsp;&nbsp;javascript</li>
            <li class='p'>⇀&nbsp;&nbsp;javascript</li>
            <li class='p'>⇀&nbsp;&nbsp;javascript</li>
            <li class='p'>⇀&nbsp;&nbsp;javascript</li>
            <li class='p'>⇀&nbsp;&nbsp;javascript</li>
            <li class='p'>⇀&nbsp;&nbsp;javascript</li>
          </ul>
      </div>
      <div class="subtitle" id="goals">
        Goals:
          <ul class="standardList">
            <li class='p'>⇀&nbsp;&nbsp;Beautiful UI</li>
            <li class='p'>⇀&nbsp;&nbsp;Beautiful UI</li>
            <li class='p'>⇀&nbsp;&nbsp;Beautiful UI</li>
            <li class='p'>⇀&nbsp;&nbsp;Beautiful UI</li>
            <li class='p'>⇀&nbsp;&nbsp;Beautiful UI</li>
            <li class='p'>⇀&nbsp;&nbsp;Beautiful UI</li>
          </ul>
      </div>
    </div>
    <br style="clear:both;"/>
    <p id="body" class="value">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non dui non lacus egestas vulputate. Nullam sapien mi, lacinia sit amet eleifend a, tristique eget mi. Quisque pulvinar euismod quam, non convallis leo pharetra vitae. Fusce laoreet suscipit dolor, eget porttitor elit posuere et. Phasellus sit amet ultricies arcu. In tortor neque, consequat in faucibus eu, facilisis eget sapien. Nam orci nulla, egestas ac faucibus in, lacinia non dui. Suspendisse ut velit a sapien lobortis tristique. Nulla sit amet libero neque, sed facilisis metus. Proin ut massa ipsum, in facilisis tellus. Phasellus eu lacus sed elit pharetra semper et eget purus.

      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget tortor arcu, auctor interdum nisl. Aliquam erat volutpat. Pellentesque quis odio quis odio fermentum consectetur. Aliquam a diam turpis, faucibus consectetur diam. Mauris sapien justo, rutrum sagittis imperdiet in, lacinia quis quam. Cras euismod orci at augue mattis nec fringilla leo ullamcorper. Duis sit amet urna id tellus bibendum semper ut pharetra dolor. Cras et lectus in tellus scelerisque pellentesque in ut justo. Pellentesque in arcu ut neque euismod tristique. Maecenas dolor libero, congue at congue commodo, vehicula eget enim. Sed egestas sollicitudin enim, luctus egestas leo porta eu. Nunc cursus malesuada nunc, nec aliquam sapien hendrerit non. Fusce pulvinar orci porttitor risus porta sed adipiscing dolor ornare. Nam vestibulum turpis non sapien dignissim vitae condimentum metus tristique. Maecenas eget eros nibh, quis vehicula turpis.

      Suspendisse placerat tristique sodales. Praesent non erat et leo fermentum sodales. In hac habitasse platea dictumst. Morbi tincidunt, enim feugiat luctus vestibulum, lorem metus lobortis nisl, non facilisis sem ante et tortor. Suspendisse potenti. Pellentesque dui metus, dictum sit amet mattis ut, blandit et ligula. Duis laoreet nulla lectus. Nulla mauris justo, laoreet ut mollis eu, gravida nec velit. Aenean feugiat, arcu ac mollis feugiat, nisi eros feugiat nunc, sed scelerisque orci odio at lacus. Aenean non orci nulla. Nullam quis ultrices mauris. Sed ut lacus purus, eget viverra sapien. Phasellus ut commodo orci. Mauris a nulla sit amet lectus semper auctor. Vivamus metus leo, rutrum ac fermentum eget, pretium eget felis. Ut vulputate sagittis tellus, et sagittis erat dictum ullamcorper.</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".prodSlideCont").bjqs({
    animtype: "slide",
    height: 320,
    width: 680,
    responsive: true,
    showcontrols: true,
    showmarkers: false,
    prevtext: '↼',
    nexttext: '⇀'
  });
</script>
