<div class="prodDetail">
  <div class="prodPost">
    <div class="prodNav" id="back">↼</div>
    <div id="title" class="value title">Big Title This is Signification</div>
    <div class="prodSlideCont">
      <ul class="bjqs">
      </ul>
    </div>
    <div class="subtitleCont">
      <div class="subtitle" id="technologies">
        Technologies:
          <ul class="standardList" id="technologies">
          </ul>
      </div>
      <div class="subtitle" id="goals">
        Goals:
          <ul class="standardList" id="goals">
          </ul>
      </div>
    </div>
    <br style="clear:both;"/>
    <p id="body" class="value">
    </div>
<!--
    <ul class="standardList" id="tags">
    </ul>
    
    <div id="date_description"></div>
-->
  </div>
</div>
