<div class="labsPage">
  <div class="pageTitle">Cold Crescent Interactive has a strong track record on delivering versatile products for its partners and customers. Working in consultation with designers and enterprise operations staff, we deliver creative, value-oriented solutions. These are some of our success stories.</div>
  <br />
  <br />
  <div class="labsNav" id="prev">↼</div>
  <div class="labsEntryCont">
  </div>
  <div class="labsNav" id="next">⇀</div>
</div>
<br style="clear:both;"/>
