<div class="labsPage">
  <div class="labsNav" id="prev">↼</div>
  <div class="labsEntryCont">
    <a href="">
      <div class="labsEntry" id="0">
        <div class="labsPreview"></div>
        <div class="subheading labsTitle"></div>
      </div>
    <a href="">
      <div class="labsEntry" id="1">
        <div class="labsPreview"></div>
        <div class="subheading labsTitle"></div>
      </div>
    </a>
    <a href="">
      <div class="labsEntry" id="2">
        <div class="labsPreview"></div>
        <div class="subheading labsTitle"></div>
      </div>
    </a>
    <a href="">
      <div class="labsEntry" id="3">
        <div class="labsPreview"></div>
        <div class="subheading labsTitle"></div>
      </div>
    </a>
    <a href="">
      <div class="labsEntry" id="4">
        <div class="labsPreview"></div>
        <div class="subheading labsTitle"></div>
      </div>
    </a>
    <a href="">
      <div class="labsEntry" id="5">
        <div class="labsPreview"></div>
        <div class="subheading labsTitle"></div>
      </div>
    </a>
    </a>
  </div>
  <div class="labsNav" id="next">⇀</div>
</div>
<br style="clear:both;"/>
