<div class="DataPanelSection" id="methodologies">
  <div class="subtitle pushedOut">
    <div id="func" class="methodNav textTransform">Cold Crescent Interactive is a digital design and production studio based in Brooklyn, New York. Started by James Meldrum BCom and Amanda Heglund MSc in 2012, working with clients in 3 continents.<br /><br />
      <img src='/static/img/derp4.png'/>
James has recently been informed that he's gotten fatter since this photo was taken and would like you to know that.<br /><br />
    To reduce infrastructure costs, reach new clients or leverage the cloud please reach out to us at <a href="mailto:info@coldcrescent.com">info@coldcrescent.com</a>
  </div>
  </div>
</div>
