<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Canvas Fireworks</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    {% block meta_app %} 
        {% for meta in meta_data %}
            <meta property="{{meta.meta_key}}" content="{{meta.meta_var}}"/>
        {% endfor %}
    {% endblock meta_app %}
   <style>
   html {
       height: 100%;
   }
   body{
       padding: 0; margin: 0;
       min-height: 400px; height: 100%;
       width: 100%;
       overflow: hidden;
   }
   </style>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/normalize.css">
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/main.css">
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/libs/bjqs.css">
    <link href="{{STATIC_PREFIX}}css/labs/4/impress.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One|Anaheim|Scada:700italic|Julius+Sans+One' rel='stylesheet' type='text/css'>
    <script data-main="{{STATIC_PREFIX}}js/main" src="{{STATIC_PREFIX}}js/libs/require/require.js"></script>
</head>
<body>
    <script type="text/javascript" src="{{STATIC_PREFIX}}labs/three.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}labs/Detector.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}labs/stats.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}labs/snowflakes.js"></script>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
  <!-- Initially populated by views/app.js -->
  <div class="pageParent"></div>
 <canvas id="canvas"></canvas>

<script type="text/javascript">
   (function(){
   // shim layer with setTimeout fallback
   window.requestAnimFrame = (function(){
     return  window.requestAnimationFrame       || 
             window.webkitRequestAnimationFrame || 
             window.mozRequestAnimationFrame    || 
             window.oRequestAnimationFrame      || 
             window.msRequestAnimationFrame     || 
             function( callback ){
               window.setTimeout(callback, 1000 / 60);
             };
   })();
   
   var canvas = document.getElementById("canvas"),
       ctx = canvas.getContext("2d"),
       W = window.innerWidth,
       H = window.innerHeight,
       circles = [];
   
   canvas.width = W;
   canvas.height = H; 
   var midPointX = W/2;
   var midPointY = H/2;
   var velocityX = 0;
   var velocityY = 0;
   var gravity = 0.01;
   
   //Random Circles creator
   function create() {
       recreate(this);
   }
   
   //Random Circles creator
   function recreate(circle) {
       
       //Place the circles at the center
       
       circle.x = midPointX;
       circle.y = midPointY;
   
       
       //Random radius between 2 and 6
       circle.radius = 2 + Math.random()*3; 
       
       //Random velocities
       circle.vx = 10 * (Math.random()-0.5);
       circle.vy = 10 * (Math.random()-0.5);
       
       //Random change-in-velocity
       circle.dx = (Math.random()) * (velocityX);
       circle.dy = (Math.random()) * (velocityY);
       
       //Random colors
       circle.r = Math.round(Math.random())*255;
       circle.g = Math.round(Math.random())*255;
       circle.b = Math.round(Math.random())*255;
       return circle;
   }
   
   for (var i = 0; i < 500; i++) {
       circles.push(new create());
   }
   
   function draw() {
       
       //Fill canvas with black color
       ctx.globalCompositeOperation = "source-over";
       ctx.fillStyle = "rgba(0,0,0,0.15)";
       ctx.fillRect(0, 0, W, H);
       
       //Fill the canvas with circles
       for(var j = 0; j < circles.length; j++){
           var c = circles[j];
           if(c.radius > 0 && c.x <= W && c.x >= 0 && c.y <= H && c.y >= 0){
               //Create the circles
               ctx.beginPath();
               ctx.arc(c.x, c.y, c.radius, 0, Math.PI*2, false);
               ctx.fillStyle = "rgba("+c.r+", "+c.g+", "+c.b+", 0.5)";
               ctx.fill();
               c.x += c.vx;
               c.y += c.vy;
               c.vx += c.dx;
               c.vy += c.dy;
               c.dy += gravity;
               c.radius -= 0.05;
           } else {
                recreate(c);
           }
       }
   }
   
   function animate() {
       draw();
       requestAnimFrame(animate);
   }
   
   canvas.onmousemove = function(e){
       velocityX = Math.min(e.pageX - midPointX, 4)/20;
       velocityY = Math.min(e.pageY - midPointY, 4)/20;
       midPointX = e.pageX;
       midPointY = e.pageY;
   }
   
   animate();   
   })();  
</script>

    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-36634018-1']);_gaq.push(['_setDomainName', 'jamesrhys.net']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</body>
</html>
